@import "tailwindcss";
@import "material-symbols/outlined.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6002ee;
  --text: white;
  --secondary: #138288;
  --bg: var(--color-slate-400);
  --surface: var(--color-slate-200);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #6002ee;
    --secondary: #138288;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  @apply text-xl font-bold text-slate-600;
}

.btn-material-icon {
  @apply bg-(--primary) text-(--text) p-1;
}